@font-face{
    font-family:FontAwesome;
    /*src:url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.eot?#iefix) format('eot'),
	url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.woff) format('woff'),
	url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf) format('truetype'),
	url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.svg#FontAwesome) format('svg');
    */src:url(fontawesome-webfont.eot);
    src:url(fontawesome-webfont.svg);
    src:url(fontawesome-webfont.ttf);
    src:url(fonts/fontawesome-webfont.woff);
    font-weight:400;font-style:normal;
}

@font-face {
    font-family: CODE_Bold;
    src: url(fonts/CODE_Bold.otf);
}

@font-face {
    font-family: Oswald-Regular;
    src: url(fonts/Oswald-Regular.otf);
}

body {margin:0; padding:0;}

/* Add it to have an A4 format */
.a4_format{
    width:21cm;
    height:29.7cm;
    margin: 20mm 15mm 10mm 15mm;
    margin-left: auto;
    margin-right: auto;
}

.intro_poste{
    text-align: left;
    width: 13%;
    font-family: Oswald-Regular;
    font-size: 25px;
}

.title{
    font-size: 25px;
    width: 50%;
    font-family: Oswald-Regular;
}

.networks{
    text-align: right;
}

.font-awesome-title{
    font-family: 'FontAwesome';
    font-size: 19px;
    color: black;
}

.text{
    font-size: 15px;
    font-family: Fontin_Sans_R;
    vertical-align: top;
    text-align : justify;
}

.dotted_line {
  border-top: 2px dotted #686868;
  width:100%;
}

.text_bold{
    font-family: Fontin_Sans_B;
    font-weight: bold;
}

.contact_icon{
    font-family: Fontin_Sans_B;
    /*text-transform : uppercase;*/
    font-weight: bold;
    color: #47abc8;
    font-size: 16px;
}

.contact_mail{
    font-family: Fontin_Sans_B;
    /*text-transform : uppercase;*/
    font-weight: bold;
    color: #47abc8;
    font-size: 13px;  
}

.cv{
    text-align: left; 
    font-size: 12px;
    font-family: Oswald-Regular;
}

.intro_icon{
    font-family: 'FontAwesome';
    font-size: 25px;
    color: black;
}

a[href^="mailto:"]
{ 
    font-family: Fontin_Sans_B;
    font-weight: bold;
    color: #47abc8;
    font-size: 13px;
}