.big_title{
    font-family: Oswald-Regular;
    font-size: 25px;    
}

.font_awesome_title{
    font-family: 'FontAwesome';
    font-size: 19px;
}

.contact_icon{
    font-size: 16px;
}

.contact_mail{
    font-size: 14px;  
}