.projects_education{
    vertical-align: bottom;
}

.education{
    padding-right: 25px; 
}

.project{
	font-family: SourceCodePro-Medium;
    text-transform: uppercase;
    font-size: 15px;
    width: 70%;
}

.project_description{
	font-family: Fontin_Sans_R;
	color: black;
    vertical-align: top;
}

.volunteering_name{
	vertical-align:top;
	color: inherit;
}

.work_education{
	font-size: 15px;
	font-family: Fontin_Sans_R;
    vertical-align: top;
    width: 33%;
}
